/* Utils */
:root {
  --main-text: #494949;
  --secondary-main-text: #ececec;
  --ouwer-text: #757575;
  --secondary-ouwer-text: #000;
  --acent-color: #ff7300;
  --secondary-acent-color: #b92c4f;
  --card-background-color: #f7f4f4;
  --title-text: #000000;
  --line-color: #3856ff;
  --background-color: #ffffff;
  --background-reviews: #e5e5e54f;
  --background-footer-color: #2f303a;
}

/* Base */
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--main-text);
  font-family: Raleway, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Layout */
header {
  min-width: 100%;
}

@media screen and (max-width: 767px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/index/Towers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-section .hero-section {
    background-image: url(/images/index/Towers.jpg);
  }
}

@media screen and (max-width: 767px) {
  .hero-counter-main {
    margin-bottom: 10px;
    align-items: center;
    color: var(--secondary-main-text);
    font-weight: 300;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .hero-counter-second-text {
    margin-bottom: 10px;
    color: var(--secondary-main-text);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.71;
  }
  .acent {
    background-color: var(--secondary-acent-color);
  }
  .hero-counter-third-text {
    margin-bottom: 10px;
    color: var(--secondary-main-text);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.71;
  }
  .hero-acent-word {
    background-color: var(--acent-color);
  }
  .timer {
    color: var(--background-color);
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  .field {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid var(--secondary-main-text);
  }
  .value {
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
  }
  .label {
    display: block;
    padding-top: 5px;
    font-size: 14px;
    color: var(--background-color);
  }
  .hero-form {
    max-width: 100%;
    margin-top: 5px;
    text-align: center;
    border: 1px solid var(--secondary-main-text);
    background-color: var(--background-color);
  }
  .hero-form-main-text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--main-text);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.71;
    text-transform: uppercase;
  }
  .hero-form-second-text {
    margin-bottom: 10px;
  }
  .input-text {
    min-width: 100%;
    height: 50px;
    border: 1px solid #131212;
    box-sizing: border-box;
    border-radius: 4px;
    background: inherit;
    color: var(--secondary-ouwer-text);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-bottom: 10px;
  }
  .input-text::placeholder {
    padding-left: 10px;
  }
  .website-button {
    max-width: 100%;
    display: inline-block;
    border: 0px;
    padding: 10px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: var(--background-color);
    background-color: var(--acent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    display: flex;
    flex-direction: row-reverse;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/index/Towers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section .hero-section {
    background-image: url(/images/index/Towers.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-counter {
    padding-left: 40px;
  }
  .hero-counter-main {
    margin-bottom: 10px;
    align-items: center;
    color: var(--secondary-main-text);
    font-weight: 300;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .hero-counter-second-text {
    margin-bottom: 10px;
    color: var(--secondary-main-text);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.71;
  }
  .acent {
    background-color: var(--secondary-acent-color);
  }
  .hero-counter-third-text {
    margin-bottom: 10px;
    color: var(--secondary-main-text);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.71;
  }
  .hero-acent-word {
    background-color: var(--acent-color);
  }
  .timer,
  .btn-box {
    color: var(--background-color);
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  .field {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid var(--secondary-main-text);
  }
  .value {
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
  }
  .label {
    display: block;
    padding-top: 5px;
    font-size: 14px;
    color: var(--background-color);
  }
  .hero-form {
    width: 320px;
    height: 340px;
    margin-top: 5px;
    text-align: center;
    border: 1px solid var(--secondary-main-text);
    background-color: var(--background-color);
  }
  .hero-form-main-text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--main-text);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.71;
    text-transform: uppercase;
  }
  .hero-form-second-text {
    margin-bottom: 10px;
  }
  .input-text {
    min-width: 100%;
    height: 50px;
    border: 1px solid #131212;
    box-sizing: border-box;
    border-radius: 4px;
    background: inherit;
    color: var(--secondary-ouwer-text);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-bottom: 20px;
  }
  .input-text::placeholder {
    padding-left: 10px;
  }
  .website-button {
    max-width: 100%;
    display: inline-block;
    border: 0px;
    padding: 10px 25px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: var(--background-color);
    background-color: var(--acent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 665px;
    padding-top: 170px;
  }
  .hero-section .container {
    margin: 10px;
  }
  .hero-form {
    width: 330px;
  }
  .hero-form-main-text {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hero-form-second-text {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .strategy {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .website-title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--title-text);
    font-weight: 300;
    font-size: 20px;
    line-height: 1.71;
    text-transform: uppercase;
  }
  .website-title::after {
    position: relative;
    content: "";
    display: block;
    margin: 0 auto;
    bottom: -10px;
    height: 2px;
    width: 65px;
    background-color: var(--line-color);
  }
  .strategy-list {
    padding-top: 10px;
  }
  .strategy-icon {
    text-align: center;
    fill: var(--ouwer-text);
    height: 32px;
    width: 32px;
  }
  .strategy-title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--title-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;
  }
  .strategy-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 768px) {
  .strategy {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .website-title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--title-text);
    font-weight: 300;
    font-size: 20px;
    line-height: 1.71;
    text-transform: uppercase;
  }
  .website-title::after {
    position: relative;
    content: "";
    display: block;
    margin: 0 auto;
    bottom: -20px;
    height: 2px;
    width: 65px;
    background-color: var(--line-color);
  }
  .strategy-list {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .strategy-list {
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  .strategy-item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .strategy-item {
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {
  .strategy-icon {
    text-align: center;
    fill: var(--ouwer-text);
    height: 32px;
    width: 32px;
  }
  .strategy-title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--title-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;
  }
  .strategy-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 1200px) {
  .strategy {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .website-title {
    font-size: 24px;
  }
  .strategy-list {
    justify-content: space-between;
    padding-top: 50px;
  }
  .strategy-item {
    width: 245px;
  }
}

@media screen and (max-width: 767px) {
  .mentor {
    text-align: center;
  }
  .mentor-title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--title-text);
    font-weight: 300;
    font-size: 20px;
    line-height: 1.71;
    text-transform: uppercase;
  }
  .mentor-title::after {
    position: relative;
    content: "";
    display: block;
    bottom: -10px;
    margin: 0 auto;
    bottom: -20px;
    height: 2px;
    width: 65px;
    background-color: var(--line-color);
  }
  .mentor-list {
    text-align: start;
    padding-top: 30px;
  }
  .mentor-icon {
    fill: var(--line-color);
    width: 16px;
    height: 16px;
  }
  .mentor-item {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 768px) {
  .mentor {
    display: flex;
    align-items: center;
  }
  .mentor-discription {
    padding-left: 10px;
  }
  .mentor-img {
    width: 360px;
    height: 280px;
  }
  .mentor-list {
    text-align: start;
    padding-top: 10px;
    margin-bottom: 20px;
  }
  .mentor-icon {
    fill: var(--line-color);
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  .mentor-item {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.71;
  }
  .mentor-button {
    margin-left: 100px;
  }
  .mentor-title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--title-text);
    font-weight: 300;
    font-size: 20px;
    line-height: 1.71;
    text-transform: uppercase;
  }
  .mentor-title::after {
    position: relative;
    content: "";
    display: block;
    bottom: -10px;
    left: 0px;
    height: 2px;
    width: 65px;
    background-color: var(--line-color);
  }
}

@media screen and (min-width: 1200px) {
  .mentor {
    justify-content: center;
    padding-bottom: 80px;
  }
  .mentor-discription {
    padding-left: 20px;
  }
  .mentor-img {
    width: 595px;
    height: 400px;
  }
  .mentor-list {
    padding-top: 30px;
    margin-bottom: 100px;
  }
  .mentor-item {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.71;
  }
  .mentor-button {
    margin-left: 100px;
  }
}

@media screen and (max-width: 767px) {
  .criteria {
    text-align: center;
    margin-bottom: 20px;
  }
  .criteria-list {
    padding-top: 10px;
  }
  .criteria-item {
    padding-top: 20px;
    margin-top: 10px;
    display: block;
    width: 100%;
    background: var(--card-background-color);
  }
  .criteria-icon {
    fill: var(--line-color);
    width: 32px;
    height: 32px;
  }
  .criteria-item-title {
    padding-top: 20px;
    margin-bottom: 10px;
    color: var(--title-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;
  }
  .criteria-item-text {
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 768px) {
  .criteria {
    text-align: center;
    margin-bottom: 20px;
  }
  .criteria-list {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .criteria-list {
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  .criteria-item {
    display: block;
    background: var(--card-background-color);
    width: 354px;
    margin: 15px;
    padding: 20px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .criteria-item {
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  .criteria-icon {
    fill: var(--line-color);
    width: 32px;
    height: 32px;
  }
  .criteria-item-title {
    padding-top: 20px;
    margin-bottom: 10px;
    color: var(--title-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;
  }
  .criteria-item-text {
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 1200px) {
  .criteria {
    padding-bottom: 80px;
  }
  .criteria-item {
    width: 320px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .criteria-item:nth-child(3n) {
    margin-right: 0px;
  }
  .criteria-list {
    justify-content: center;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .reviews {
    text-align: center;
  }
  .reviews-item {
    margin-top: 20px;
  }
  .reviews-icon {
    position: relative;
    content: "";
    display: block;
    bottom: -20px;
    left: -0px;
    fill: var(--background-reviews);
    width: 32px;
    height: 32px;
  }
  .reviews-text {
    padding-bottom: 10px;
    font-weight: 200;
    font-style: italic;
    font-size: 16px;
    line-height: 1.71;
  }
  .reviews-name {
    padding-top: 10px;
    color: var(--title-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.71;
  }
  .reviews-duration {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .reviews {
    text-align: center;
  }
  .reviews-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .reviews-list {
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  .reviews-item {
    margin-top: 20px;
    width: 354px;
    margin: 15px;
    padding: 20px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .reviews-item {
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  .reviews-icon {
    position: relative;
    content: "";
    display: block;
    bottom: -20px;
    left: -10px;
    fill: var(--background-reviews);
    width: 32px;
    height: 32px;
  }
  .reviews-text {
    text-align: start;
    padding-bottom: 10px;
    font-weight: 200;
    font-style: italic;
    font-size: 16px;
    line-height: 1.71;
  }
  .reviews-name {
    padding-top: 10px;
    color: var(--title-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.71;
  }
  .reviews-duration {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .reviews {
    padding-bottom: 80px;
  }
  .reviews-list {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 40px;
  }
}

/* Footer */
@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/index/work.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .footer .footer {
    background-image: url(/images/index/work.jpg);
  }
}

@media screen and (max-width: 767px) {
  .footer-title {
    margin-bottom: 10px;
    align-items: center;
    color: var(--background-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.02em;
  }
  .footer-description {
    padding-bottom: 10px;
    font-weight: 200;
    color: var(--secondary-main-text);
    font-size: 16px;
    line-height: 1.71;
  }
  .input-white-text {
    min-width: 100%;
    height: 50px;
    border: 1px solid #fafafa;
    box-sizing: border-box;
    border-radius: 4px;
    background: inherit;
    color: var(--background-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-bottom: 20px;
  }
  .input-white-text::placeholder {
    color: var(--background-color);
  }
  .rights {
    background-color: var(--title-text);
  }
  .rights-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 200;
    color: var(--secondary-main-text);
    font-size: 16px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 768px) {
  footer {
    text-align: center;
    padding-top: 20px;
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/index/work.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  footer .footer {
    background-image: url(/images/index/work.jpg);
  }
}

@media screen and (min-width: 768px) {
  .footer-title {
    margin-bottom: 10px;
    align-items: center;
    color: var(--background-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.02em;
  }
  .footer-description {
    padding-bottom: 10px;
    font-weight: 200;
    color: var(--secondary-main-text);
    font-size: 16px;
    line-height: 1.71;
  }
  .footer-input {
    display: flex;
  }
  .input-white-text {
    width: 250px;
    height: 50px;
    border: 1px solid #fafafa;
    box-sizing: border-box;
    border-radius: 4px;
    background: inherit;
    color: var(--background-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-bottom: 20px;
    margin-right: 10px;
  }
  .input-white-text::placeholder {
    color: var(--background-color);
    padding-left: 10px;
  }
  .input-white-text:last-child {
    margin-right: 0px;
  }
  .rights {
    width: 100%;
    background-color: var(--title-text);
  }
  .rights-text {
    text-align: start;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 200;
    color: var(--secondary-main-text);
    font-size: 16px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .footer-title {
    margin-bottom: 0px;
  }
  .footer-description {
    padding-bottom: 60px;
  }
  .footer-input {
    justify-content: space-between;
  }
  .input-white-text {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=main.css.map */