@media screen and (max-width: 767px) {
  .mentor {
    text-align: center;
  }
  //   .mentor-img {
  //   }
  .mentor-list {
    text-align: start;
    padding-top: 10px;
  }
  .mentor-icon {
    width: 16px;
    height: 16px;
  }
  .mentor-item {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
}
