@media screen and (max-width: 767px) {
  .reviews {
    text-align: center;
  }
  .reviews-item {
    margin-top: 20px;
  }
  .reviews-icon {
    position: relative;
    content: "";
    display: block;
    bottom: -20px;
    left: -0px;

    fill: var(--background-reviews);
    width: 32px;
    height: 32px;
  }
  .reviews-text {
    padding-bottom: 10px;
    font-weight: 200;
    font-style: italic;
    font-size: 16px;
    line-height: 1.71;
  }
  .reviews-name {
    padding-top: 10px;
    // margin-bottom: 10px;

    color: var(--title-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.71;
  }
  .reviews-duration {
    //   padding-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 768px) {
  .reviews {
    text-align: center;
  }
  .reviews-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    @media screen and (min-width: 1200px) {
      margin: 0px;
    }
  }
  .reviews-item {
    margin-top: 20px;
    width: 354px;
    margin: 15px;
    padding: 20px;

    @media screen and (min-width: 1200px) {
      margin: 0px;
    }
  }
  .reviews-icon {
    position: relative;
    content: "";
    display: block;
    bottom: -20px;
    left: -10px;

    fill: var(--background-reviews);
    width: 32px;
    height: 32px;
  }
  .reviews-text {
    text-align: start;
    padding-bottom: 10px;
    font-weight: 200;
    font-style: italic;
    font-size: 16px;
    line-height: 1.71;
  }
  .reviews-name {
    padding-top: 10px;

    color: var(--title-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.71;
  }
  .reviews-duration {
    //   padding-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding-bottom: 80px;
  }
  .reviews-list {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
