@media screen and (max-width: 767px) {
  .strategy {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .website-title {
    margin-top: 10px;
    margin-bottom: 10px;

    color: var(--title-text);
    font-weight: 300;
    font-size: 20px;
    line-height: 1.71;
    text-transform: uppercase;

    &::after {
      position: relative;
      content: "";
      display: block;
      margin: 0 auto;
      bottom: -10px;
      height: 2px;
      width: 65px;

      background-color: var(--line-color);
    }
  }
  .strategy-list {
    padding-top: 10px;
  }
  .strategy-icon {
    text-align: center;
    fill: var(--ouwer-text);
    height: 32px;
    width: 32px;
  }
  .strategy-title {
    margin-top: 10px;
    margin-bottom: 10px;

    color: var(--title-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;
  }
  .strategy-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 768px) {
  .strategy {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .website-title {
    margin-top: 10px;
    margin-bottom: 10px;

    color: var(--title-text);
    font-weight: 300;
    font-size: 20px;
    line-height: 1.71;
    text-transform: uppercase;

    &::after {
      position: relative;
      content: "";
      display: block;
      margin: 0 auto;
      bottom: -20px;
      height: 2px;
      width: 65px;

      background-color: var(--line-color);
    }
  }
  .strategy-list {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    @media screen and (min-width: 1200px) {
      margin: 0px;
    }
  }
  .strategy-item {
    width: 354px;
    margin: 15px;

    @media screen and (min-width: 1200px) {
      margin: 10px;
    }
  }
  .strategy-icon {
    text-align: center;
    fill: var(--ouwer-text);
    height: 32px;
    width: 32px;
  }
  .strategy-title {
    margin-top: 10px;
    margin-bottom: 10px;

    color: var(--title-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;
  }
  .strategy-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .strategy {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .website-title {
    font-size: 24px;
  }
  .strategy-list {
    justify-content: space-between;
    padding-top: 50px;
  }

  .strategy-item {
    width: 245px;
  }
}
