:root {
  --main-text: #494949;
  --secondary-main-text: #ececec;
  --ouwer-text: #757575;
  --secondary-ouwer-text: #000;
  --acent-color: #ff7300;
  --secondary-acent-color: #b92c4f;
  --card-background-color: #f7f4f4;
  --title-text: #000000;
  --line-color: #3856ff;
  --background-color: #ffffff;
  --background-footer-color: #2f303a;
  //   --contener-color: #eeeeee;
  //   --buttons-port-color: #f5f4fa;
  //   --background-section: #e5e5e5;
  //   --icon-color: #afb1b8;
}
